<div class="login-div">
  <form class="login-form" [formGroup]="user" (ngSubmit)="login()">
    <mat-form-field fxLayout="row" appearance="outline">
      <mat-label>Mail</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field fxLayout="row" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <button mat-flat-button color="primary" fxLayout="row">LOGIN</button>
  </form>
</div>
