<div class="card-header" fxLayout="row">
  <h4>{{ item.title }}</h4>
  <button
    mat-button class="remove-button"
    (click)="removeItem(item)"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div class="card-content">
  <p>{{ item.description}}</p>
  <ul>
    <li *ngFor="let todoItem of item.itemList">{{ todoItem }}</li>
  </ul>
</div>
<div class="footer" fxLayout="row">
  <form class="input" (submit)="addTodoItem()">
    <input
      [(ngModel)]="newTodoItemString"
      placeholder="Aa" name="AddTodoItemInput"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
  </form>
</div>
