@import "../../../../styles";

$primary: map-get($candy-app-theme, primary);

:host {
  height: 100%;
  overflow: scroll;
}

.card-header {

  h4 {
    width: calc(100% - 64px);
    text-align: center;
  }

  button {
    width: 64px;
  }
}

.card-content {
  margin: 0.5rem;
}

.footer {
  width: 100%;
  margin-bottom: 0.75rem;

  form {
    margin: auto;

    input {
      border-radius: 5rem;
      border: 1px solid gray;
      padding: 0.5rem 1rem;
    }

    input:active,
    input:focus {
      outline: none;
      border: 1.5px solid mat-color($primary);
    }
  }
}

